body {
  background-image: linear-gradient(to right, #1773c4, rgb(157, 68, 220));
}
.logo {
  float: left;
  width: 60px;
  height: 40px;
}
.home {
  text-align: right;
  float: top;
  margin: 6px;
  padding: 20px;
  color: white;
}
.color {
  background-color: white;
  font-size: larger;
}
.banner {
  position: relative;
  margin-top: 10px;
  margin-left: 0%;

  text-align: center;
}

.banner img {
  height: 250px;
  width: 1000px;
  border-radius: 10%;
}
.container {
  display: grid;
  grid-gap: 10px;
  grid-auto-rows: 100%;
  grid-template-areas: "a a a a  b b b b";
  align-content: space-between;
  justify-content: space-around;
  align-items: start;
  margin-top: 5%;
}
.img1 {
  grid-area: a;
  text-align: center;
}

.img2 {
  grid-area: b;
  text-align: center;
}
.b {
  width: 400px;
  height: 400px;
}
.a {
  width: 400px;
  height: 400px;
}
p {
  position: relative;
  text-align: center;
}
img {
  max-width: 100%;
  height: auto;
}
.title {
  text-align: center;
  align-items: start;
  margin-top: -150px;
  text-transform: uppercase;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: whitesmoke;
  margin-top: 5%;
}
footer {
  background-color: blueviolet;
  text-align: center;
  padding: 1%;
  margin-top: 10%;
}
.a {
  transition: transform 0.2s ease;
}

.a:hover {
  transform: scale(1.1);
}

.b {
  transition: transform 0.2s ease;
}

.b:hover {
  transform: scale(1.1);
}
